body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0b3d91, #1f5fbf);
    color: white;
}

.contenedor {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #f4c542;
}

.scanner {
    margin: 30px 0;
    padding: 25px;
    width: 80%;
    max-width: 500px;
    border: 3px dashed #f4c542;
    border-radius: 12px;
}

input {
    width: 90%;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    border: none;
}

button {
    margin-top: 15px;
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #f4c542;
    font-weight: bold;
}

.bienvenida {
    background: rgba(255,255,255,0.12);
    padding: 20px;
    border-radius: 16px;
    max-width: 500px;
}

#nombre {
    color: #f4c542;
}
